{% extends 'weather/base.html' %}
{% load static %}
{% block head_load %}
<link rel="stylesheet" href="{% static 'weather/css/weather.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock head_load %}

{% block content %}
<div class="map-wrapper">
    <div id="map" class="map" style="margin: 0; padding: 0; height: 600px; width: 100vw"></div>
</div>
<div id="weather-data" class="weather-data-container">
    <p class="forecast-data">Click on a point on the map above to get weather information in the area, plus a piece of advice depending on the weather (i.e. a humorous advisory). Give it a try!</p>
    <h2>Location:</h2><p class="forecast-data"></p>
    <h2>Current Temperature:</h2><p class="forecast-data"></p>
    <h2>Advisory:</h2><p class="forecast-data"></p>
</div>

{% comment %} url for weather API call {% endcomment %}
<div id="weather_api_url" style="display: none;" data-url="{% url "weather:call_weather_api" %}"></div>

<aside id="geolocation-failed-snackbar" class="mdc-snackbar geolocation-snackbar-container" style="display: none;">
    <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
        <div class="mdc-snackbar__label" aria-atomic="false">
            The Geolocation service failed.
        </div>
        <div class="mdc-snackbar__actions">
            <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
        </div>
    </div>
</aside>
{% endblock content %}

{% block tail_load %}
    {% comment %} <script src="https://unpkg.com/@googlemaps/js-api-loader@1.x/dist/index.min.js"></script> {% endcomment %}
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyB0tnlZLBa5OinIKkKkhmBSR4xBIyHJIMY",
          v: "weekly",
          // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
          // Add other bootstrap parameters as needed, using camel case.
        });
      </script>
    <script src="{% static 'weather/js/app.js' %}"></script>
{% endblock tail_load %}
