{% extends 'weather/base.html' %}
{% load static %}
{% block head_load %}
<link rel="stylesheet" href="{% static 'weather/css/weather.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock head_load %}

{% block content %}
<div class="map-wrapper">
    <div id="map" class="map" style="margin: 0; padding: 0; height: 600px; width: 100vw"></div>
</div>
<div class="weather-data-container">
    <div id="weather-data">
        <p class="forecast-data">
            Click on a point on the map above to get weather information in the area, 
            plus a piece of advice depending on the weather (i.e. a humorous advisory).
        </p>
        <p class="forecast-data">
            Also, use the location button in the top right corner to center the map on your location 
            and display your local weather info. Give it a try!
        </p>
    </div>
    <div id="weather-data-loading-screen" class="d-none">
        <div id="weather-data-spinner"></div>
        <p class="loading-label">Fetching data...</p>
    </div>
</div>

{% comment %} url for weather API call {% endcomment %}
<div id="weather_api_url" style="display: none;" data-url="{% url "weather:call_weather_api" %}"></div>

<div id="geolocation-failed-snackbar" class="geolocation-snackbar align-items-center text-white bg-primary border-0 d-none">
    <div class="d-flex align-items-center">
        <div class="snackbar-icon">
            <i class="bi bi-exclamation-circle"></i>
        </div>
        <div class="snackbar-body">
            Geolocation failed. Check if you have location access blocked.
        </div>
    </div>
</div>
{% endblock content %}

{% block tail_load %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyB0tnlZLBa5OinIKkKkhmBSR4xBIyHJIMY",
          v: "weekly",
        });
      </script>
    <script src="{% static 'weather/js/app.js' %}"></script>
{% endblock tail_load %}
